# Enable C++ support
language: cpp
# Compiler selection
compiler: gcc
# Build steps
install:
  - sudo pip install cpp-coveralls
# Install a recent CMake (unless already installed on OS X)
  - |
      if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
        if [[ -z "$(ls -A ${DEPS_DIR}/cmake/bin)" ]]; then
          CMAKE_URL="https://cmake.org/files/v3.6/cmake-3.6.2-Linux-x86_64.tar.gz"
          mkdir -p cmake && travis_retry wget --no-check-certificate --quiet -O - "${CMAKE_URL}" | tar --strip-components=1 -xz -C cmake
        fi
        export PATH="${DEPS_DIR}/cmake/bin:${PATH}"
      else
        if ! brew ls --version cmake &>/dev/null; then brew install cmake; fi
      fi
script:
  - mkdir build
  - cd build
  - cmake .. && make AllUnitTests
  - ./AllUnitTests
